.DS_Store
node_modules/
.pnp
.pnp.js
*.pem
# .vscode/

# build
build/
package/
dist/
dist-ssr/
.next/
out/

# debug
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml
pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# vercel
.vercel

#Hardhat files
cache
artifacts
@types

